Django
Pillow
Pygments
django-bootstrap3
django-xmlrpc
html2text
markdown2
pytz
django-xblog
django-storages
django-haystack
python-social-auth[django]
Whoosh
mysqlclient
PyYAML
python-memcached
elasticsearch>=5.0.0,<6.0.0
uwsgi
django-contrib-comments
psycopg2
