Django
Pillow
Pygments
django-bootstrap3
django-xmlrpc
html2text
markdown2
pytz
django-xblog@git+https://github.com/rubeon/django-xblog@django-4-update
django-storages
django-haystack
social-auth-app-django
Whoosh
mysqlclient
PyYAML
python-memcached
elasticsearch>=5.0.0,<6.0.0
uwsgi
django-contrib-comments
psycopg2-binary
gunicorn